AI_Security_Guardian_Mega.json
{
  "name": "AI Security Guardian Mega Workflow",
  "nodes": [
    {
      "id": "cdf2c520-5314-4458-ad93-37ca377eb7cd",
      "name": "Sticky Note: 01 Trigger Layer",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "parameters": {
        "content": "## 01 Trigger Layer",
        "height": 800,
        "width": 1000,
        "color": 7
      }
    },
    {
      "id": "f8d13632-73ef-43e4-a852-7cf2da2bb265",
      "name": "Trigger_Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "parameters": {
        "path": "scan-trigger",
        "options": {}
      }
    },
    {
      "id": "5162e24f-08e5-44aa-a82c-11b0e669ed18",
      "name": "Trigger_GitHub",
      "type": "n8n-nodes-base.githubTrigger",
      "typeVersion": 1,
      "position": [
        0,
        150
      ],
      "parameters": {
        "events": [
          "push"
        ]
      }
    },
    {
      "id": "67889642-a444-44e2-8fa5-2654c4efda63",
      "name": "Trigger_Schedule",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        0,
        300
      ],
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "mode": "everyDay",
              "hour": 2
            }
          ]
        }
      }
    },
    {
      "id": "ed12cb7c-c986-4b75-9f29-e4316d8358d6",
      "name": "Trigger_Manual",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        450
      ],
      "parameters": {}
    },
    {
      "id": "77e8eb0e-c593-41ee-9dc3-77865837dd2f",
      "name": "CODE_TriggerRouter",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        400,
        200
      ],
      "parameters": {
        "jsCode": "\nconst source = $node.Trigger_Webhook ? 'Webhook' : \n               $node.Trigger_GitHub ? 'GitHub' : \n               $node.Trigger_Schedule ? 'Schedule' : 'Manual';\n               \nreturn {\n    trigger: {\n        source: source,\n        timestamp: new Date().toISOString(),\n        initiated_by: 'system'\n    }\n};\n"
      }
    },
    {
      "id": "08c46df3-6a50-4502-bc79-c14a3cfdb0b3",
      "name": "Sticky Note: 02 Configuration",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        900
      ],
      "parameters": {
        "content": "## 02 Configuration",
        "height": 400,
        "width": 1000,
        "color": 6
      }
    },
    {
      "id": "36559996-ca92-4d62-94c6-7958c67c893f",
      "name": "CRON_Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        50,
        1000
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "days",
              "daysInterval": 1
            }
          ]
        }
      }
    },
    {
      "id": "131cd1ce-61c1-43da-b3b8-abd0a510a0e4",
      "name": "CFG_Configuration",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        250,
        1000
      ],
      "parameters": {
        "values": {
          "string": [
            {
              "name": "TARGET_DOMAIN",
              "value": "example.com"
            },
            {
              "name": "SCAN_PROFILE",
              "value": "Standard"
            },
            {
              "name": "OPENAI_MODEL",
              "value": "gpt-4o"
            }
          ],
          "boolean": [
            {
              "name": "ENABLE_NMAP",
              "value": true
            },
            {
              "name": "ENABLE_NUCLEI",
              "value": true
            },
            {
              "name": "ENABLE_SSL",
              "value": true
            },
            {
              "name": "ENABLE_HEADERS",
              "value": true
            },
            {
              "name": "ENABLE_AI",
              "value": true
            },
            {
              "name": "ENABLE_NVD",
              "value": true
            },
            {
              "name": "ENABLE_EPSS",
              "value": true
            },
            {
              "name": "ENABLE_KEV",
              "value": true
            },
            {
              "name": "ENABLE_SHODAN",
              "value": false
            },
            {
              "name": "ENABLE_VIRUSTOTAL",
              "value": true
            },
            {
              "name": "ENABLE_GREYNOISE",
              "value": false
            },
            {
              "name": "ENABLE_ABUSEIPDB",
              "value": false
            }
          ],
          "number": [
            {
              "name": "TIMEOUT",
              "value": 60
            },
            {
              "name": "RETRY",
              "value": 3
            },
            {
              "name": "PARALLEL_LIMIT",
              "value": 5
            },
            {
              "name": "TTL_NVD",
              "value": 604800
            },
            {
              "name": "TTL_EPSS",
              "value": 86400
            },
            {
              "name": "TTL_KEV",
              "value": 86400
            },
            {
              "name": "TTL_SHODAN",
              "value": 43200
            },
            {
              "name": "TTL_VIRUSTOTAL",
              "value": 43200
            },
            {
              "name": "TTL_GREYNOISE",
              "value": 21600
            },
            {
              "name": "TTL_ABUSEIPDB",
              "value": 86400
            }
          ]
        }
      }
    },
    {
      "id": "2de43d31-a892-49f8-b6e3-92c0a6f2e180",
      "name": "MERGE_2",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        850,
        1050
      ],
      "parameters": {
        "mode": "wait"
      }
    },
    {
      "id": "5440699c-93f5-4091-9a5d-fb2cb01ae732",
      "name": "Sticky Note: 03 Asset Inventory",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        1400
      ],
      "parameters": {
        "content": "## 03 Asset Inventory",
        "height": 800,
        "width": 1000,
        "color": 2
      }
    },
    {
      "id": "5e7dbf35-4801-4671-95e1-220440188922",
      "name": "DB_LoadAssetCMDB",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [
        0,
        1600
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM assets WHERE domain = '{{ $('CFG_Configuration').item.json.TARGET_DOMAIN }}' LIMIT 1"
      },
      "continueOnFail": true,
      "credentials": {
        "postgres": {
          "id": "",
          "name": "Postgres account"
        }
      }
    },
    {
      "id": "3db774fe-8144-4aad-9576-00a1c9a70d5a",
      "name": "CODE_AttachAssetContext",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        400,
        1600
      ],
      "parameters": {
        "jsCode": "\n// Merge the trigger data, config data, and CMDB data into the global payload\nconst config = $items(\"CFG_Configuration\")[0].json;\nconst cmdb = $json || { domain: config.TARGET_DOMAIN, environment: 'Unknown', criticality: 'Medium' };\n\nreturn {\n    ...config,\n    asset_context: cmdb\n};\n"
      }
    },
    {
      "id": "0653e775-55b4-4c37-ab1a-81572716c8c8",
      "name": "Sticky Note: 04 Asset Discovery",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        2300
      ],
      "parameters": {
        "content": "## 04 Asset Discovery",
        "height": 400,
        "width": 1000,
        "color": 1
      }
    },
    {
      "id": "9622b831-1bf6-4ead-8e18-f982941e6749",
      "name": "HTTP_Subfinder",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        50,
        2400
      ],
      "parameters": {
        "url": "https://api.subfinder.example/v1?domain={{ $('CFG_Configuration').item.json.TARGET_DOMAIN }}"
      },
      "continueOnFail": true
    },
    {
      "id": "783d674f-c698-4ef0-8e77-45484d041f13",
      "name": "HTTP_WHOIS",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        250,
        2400
      ],
      "parameters": {
        "url": "https://api.whois.example/v1?domain={{ $('CFG_Configuration').item.json.TARGET_DOMAIN }}"
      },
      "continueOnFail": true
    },
    {
      "id": "fe3ce928-4743-4a83-8419-f024da05c71f",
      "name": "MERGE_4",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        850,
        2450
      ],
      "parameters": {
        "mode": "wait"
      }
    },
    {
      "id": "48df4260-d687-4f1e-bfcb-112770c2d443",
      "name": "Sticky Note: 05 DNS",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        2800
      ],
      "parameters": {
        "content": "## 05 DNS",
        "height": 400,
        "width": 1000,
        "color": 1
      }
    },
    {
      "id": "e3f6e94c-3d56-4367-abc2-08e17e10b078",
      "name": "HTTP_CloudflareDNS",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        50,
        2900
      ],
      "parameters": {
        "url": "https://cloudflare-dns.com/dns-query?name={{ $('CFG_Configuration').item.json.TARGET_DOMAIN }}&type=A",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/dns-json"
            }
          ]
        }
      },
      "continueOnFail": true
    },
    {
      "id": "7a464e1e-3c75-41c5-bc6c-8403a099a366",
      "name": "HTTP_ReverseDNS",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        250,
        2900
      ],
      "parameters": {},
      "continueOnFail": true
    },
    {
      "id": "ac31436f-6b66-401d-890b-56b26dab30aa",
      "name": "MERGE_5",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        850,
        2950
      ],
      "parameters": {
        "mode": "wait"
      }
    },
    {
      "id": "37a91a8e-1773-40df-83f7-19924f8d493e",
      "name": "Sticky Note: 06 Attack Surface",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        3300
      ],
      "parameters": {
        "content": "## 06 Attack Surface",
        "height": 400,
        "width": 1000,
        "color": 2
      }
    },
    {
      "id": "876f51cc-c766-44d8-9a89-fdadf4093b5c",
      "name": "CMD_Nmap",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        50,
        3400
      ],
      "parameters": {
        "command": "nmap -Pn -F {{ $('CFG_Configuration').item.json.TARGET_DOMAIN }} -oX -"
      },
      "continueOnFail": true
    },
    {
      "id": "d9d0d4f6-db4b-4629-a7d2-ca6696e6c0db",
      "name": "HTTP_SSL",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        250,
        3400
      ],
      "parameters": {
        "url": "https://{{ $('CFG_Configuration').item.json.TARGET_DOMAIN }}",
        "options": {
          "allowUnauthorizedCerts": true,
          "fullResponse": true
        }
      },
      "continueOnFail": true
    },
    {
      "id": "3aba39de-e22e-4676-aee5-66583f4d03a0",
      "name": "HTTP_Headers",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        450,
        3400
      ],
      "parameters": {
        "url": "https://{{ $('CFG_Configuration').item.json.TARGET_DOMAIN }}"
      },
      "continueOnFail": true
    },
    {
      "id": "28c4cd71-ff02-416d-b244-fe3cd85b7b08",
      "name": "MERGE_6",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        850,
        3450
      ],
      "parameters": {
        "mode": "wait"
      }
    },
    {
      "id": "c87b1254-63be-4467-9b9a-4da1bf4edded",
      "name": "Sticky Note: 07 Vulnerability Scanning",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        3800
      ],
      "parameters": {
        "content": "## 07 Vulnerability Scanning",
        "height": 400,
        "width": 1000,
        "color": 3
      }
    },
    {
      "id": "c5b6a75a-69c1-4aec-9b09-f4f9e4a46e49",
      "name": "CMD_Nuclei",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        50,
        3900
      ],
      "parameters": {
        "command": "nuclei -u https://{{ $('CFG_Configuration').item.json.TARGET_DOMAIN }} -json"
      },
      "continueOnFail": true
    },
    {
      "id": "75b87c5f-e63b-4999-87b8-40ec1a099f38",
      "name": "CMD_Trivy",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        250,
        3900
      ],
      "parameters": {},
      "continueOnFail": true
    },
    {
      "id": "97aac66a-bf38-4727-b9d0-14da4031ff84",
      "name": "CMD_ZAP_Passive",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        450,
        3900
      ],
      "parameters": {},
      "continueOnFail": true
    },
    {
      "id": "5e044a21-1784-4cfe-bd01-dfb4637c4972",
      "name": "MERGE_7",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        850,
        3950
      ],
      "parameters": {
        "mode": "wait"
      }
    },
    {
      "id": "9daf85d1-cfa3-4d56-81a0-520bc85a3048",
      "name": "Sticky Note: 08 Cloud Security",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        4300
      ],
      "parameters": {
        "content": "## 08 Cloud Security",
        "height": 800,
        "width": 1000,
        "color": 3
      }
    },
    {
      "id": "875568eb-4a0e-42d2-8011-91c431687171",
      "name": "Cloud_AWS_Prowler",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        0,
        4300
      ],
      "parameters": {
        "command": "echo 'Mock AWS Prowler scan' && cat examples/mock_prowler.json || echo '{}'"
      }
    },
    {
      "id": "67984579-caac-450d-9777-615bb2b82e44",
      "name": "Cloud_Azure_API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        0,
        4450
      ],
      "parameters": {
        "url": "https://management.azure.com/mock",
        "method": "GET"
      }
    },
    {
      "id": "94817dc3-2782-4186-9542-3860e8881df7",
      "name": "Cloud_GCP_API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        0,
        4600
      ],
      "parameters": {
        "url": "https://mock.googleapis.com",
        "method": "GET"
      }
    },
    {
      "id": "f24a8f26-7d3e-4a1d-a7e3-c351c11a4d56",
      "name": "CODE_CloudNormalizer",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        400,
        4450
      ],
      "parameters": {
        "jsCode": "\n// Mock normalization\nconst globalJson = $items(\"CFG_Configuration\")[0].json;\nglobalJson.cloud_findings = [\n    { provider: 'aws', resource_type: 's3', resource_id: 'bucket-1', risk: 'high' }\n];\nreturn globalJson;\n"
      }
    },
    {
      "id": "f53e8e80-53a3-45ca-935b-ab601b52c153",
      "name": "Sticky Note: 09 Container Security",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        5200
      ],
      "parameters": {
        "content": "## 09 Container Security",
        "height": 800,
        "width": 1000,
        "color": 4
      }
    },
    {
      "id": "82979449-fcef-4070-a94e-6e92634bad98",
      "name": "Container_Trivy_FS",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        0,
        5200
      ],
      "parameters": {
        "command": "echo 'Mock Trivy FS scan'"
      }
    },
    {
      "id": "2545af13-f208-47e4-8541-acb2ddc8dadb",
      "name": "Container_Trivy_Image",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        0,
        5350
      ],
      "parameters": {
        "command": "echo 'Mock Trivy Image scan'"
      }
    },
    {
      "id": "d13d1fb9-0ed6-4a7f-b970-db289f5e335f",
      "name": "Container_Trivy_SBOM",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        0,
        5500
      ],
      "parameters": {
        "command": "echo 'Mock Trivy SBOM'"
      }
    },
    {
      "id": "e2b72e52-1ed2-4741-ab50-5b9518caf0dd",
      "name": "CODE_ContainerNormalizer",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        400,
        5350
      ],
      "parameters": {
        "jsCode": "\n// Mock normalization\nconst globalJson = $items(\"CODE_CloudNormalizer\")[0].json;\nglobalJson.container_findings = [\n    { image_name: 'nginx:latest', vulnerabilities: 5, secrets: 1 }\n];\nreturn globalJson;\n"
      }
    },
    {
      "id": "ef03d372-8765-47b8-a5ab-7918cc01ce82",
      "name": "Sticky Note: 10 Normalizer",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        6100
      ],
      "parameters": {
        "content": "## 10 Normalizer",
        "height": 400,
        "width": 1000,
        "color": 6
      }
    },
    {
      "id": "6f40c860-fe72-4aac-8085-0d8dfa8a2e80",
      "name": "CODE_StandardizeJSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        50,
        6200
      ],
      "parameters": {
        "jsCode": "return {\n  workflow_metadata: {\n    schema_version: \"2.0\",\n    workflow_version: \"1.1.0\",\n    build: \"2026.06.27\",\n    workflow: \"AI Security Guardian\",\n    phase: 2,\n    execution_id: $execution.id\n  },\n  asset: {\n    domain: $('CFG_Configuration').item.json.TARGET_DOMAIN,\n    fingerprint: $('CFG_Configuration').item.json.TARGET_DOMAIN + \"_\" + ($items(\"HTTP_CloudflareDNS\")[0]?.json?.Answer?.[0]?.data || \"noip\")\n  },\n  evidence: {\n    nmap: $items(\"CMD_Nmap\")[0]?.json || {},\n    nuclei: $items(\"CMD_Nuclei\")[0]?.json || {},\n    ssl: $items(\"HTTP_SSL\")[0]?.json || {},\n    headers: $items(\"HTTP_Headers\")[0]?.json || {},\n    dns: $items(\"HTTP_CloudflareDNS\")[0]?.json || {}\n  },\n  dns: $items(\"HTTP_CloudflareDNS\")[0]?.json || {},\n  ssl: $items(\"HTTP_SSL\")[0]?.json || {},\n  headers: $items(\"HTTP_Headers\")[0]?.json || {},\n  ports: ($items(\"CMD_Nmap\")[0]?.json || []).map(p => ({ port: p, confidence: 0.98 })),\n  vulnerabilities: ($items(\"CMD_Nuclei\")[0]?.json || []).map(v => ({ ...v, confidence: 0.95 })),\n  threat_intelligence: {},\n  historical: {},\n  risk: {},\n  trend: {},\n  ai: {},\n  reports: {},\n  execution: {\n    timestamp: new Date().toISOString(),\n    scanner_versions: {\n      nmap: \"7.97\",\n      nuclei: \"3.4.0\",\n      trivy: \"0.64\",\n      httpx: \"1.7\"\n    },\n    scanners: {\n      nmap: { success: !!$items(\"CMD_Nmap\")[0], duration: 0 },\n      nuclei: { success: !!$items(\"CMD_Nuclei\")[0], duration: 0 }\n    }\n  }\n};\n"
      }
    },
    {
      "id": "824eafaf-607d-41d4-943e-3cc145888c20",
      "name": "Sticky Note: 11 Historical Comparison",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        6600
      ],
      "parameters": {
        "content": "## 11 Historical Comparison",
        "height": 400,
        "width": 1000,
        "color": 5
      }
    },
    {
      "id": "18619126-f00b-4d25-ba29-a884d26d611a",
      "name": "DB_GetPreviousScan",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [
        50,
        6700
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT score as previous_risk_score FROM risk_scores WHERE asset_id = '{{ $('CFG_Configuration').item.json.TARGET_DOMAIN }}' ORDER BY calculated_at DESC LIMIT 1;"
      },
      "continueOnFail": true,
      "credentials": {
        "postgres": {
          "id": "",
          "name": "Postgres account"
        }
      }
    },
    {
      "id": "887d37be-8489-44bf-9a82-9c6a83d74748",
      "name": "CODE_CalculateDelta",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        250,
        6700
      ],
      "parameters": {
        "jsCode": "const previousScore = $items(\"DB_GetPreviousScan\")[0]?.json?.previous_risk_score || null;\n\n$json = $items(\"CODE_StandardizeJSON\")[0].json;\n$json.historical = {\n  previous_risk: previousScore,\n  is_first_scan: previousScore === null,\n  new_ports: [], \n  closed_ports: [],\n  new_cves: [],\n  resolved_cves: []\n};\nreturn $json;\n"
      }
    },
    {
      "id": "1ac2775d-f804-469e-a2e2-66d88d00d23b",
      "name": "MERGE_11",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        850,
        6750
      ],
      "parameters": {
        "mode": "wait"
      }
    },
    {
      "id": "dce40a8e-0235-4c95-b07b-86e8bb869c5c",
      "name": "Sticky Note: 12 Change Detection Engine",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        7100
      ],
      "parameters": {
        "content": "## 12 Change Detection Engine",
        "height": 800,
        "width": 1000,
        "color": 1
      }
    },
    {
      "id": "b5d6b61d-fe0c-4f0e-b09d-e3662dfc56d9",
      "name": "CODE_ChangeClassifier",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        0,
        7300
      ],
      "parameters": {
        "jsCode": "\nconst globalJson = $json;\nconst deltas = globalJson.historical;\nconst changes = [];\n\nif (deltas && deltas.new_ports && deltas.new_ports.length > 0) {\n    changes.push({ type: 'NEW_EXPOSURE', severity: 'HIGH', confidence: 0.98 });\n}\nif (deltas && deltas.new_cves && deltas.new_cves.length > 0) {\n    changes.push({ type: 'SECURITY_REGRESSION', severity: 'CRITICAL', confidence: 0.95 });\n}\nif (deltas && deltas.resolved_cves && deltas.resolved_cves.length > 0) {\n    changes.push({ type: 'REMEDIATION_CONFIRMED', severity: 'LOW', confidence: 0.99 });\n}\n\nglobalJson.changes = changes;\nreturn globalJson;\n"
      }
    },
    {
      "id": "12b3b8c2-79af-4038-8415-92cee860968d",
      "name": "CODE_ChangePriority",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        300,
        7300
      ],
      "parameters": {
        "jsCode": "\nconst globalJson = $json;\nconst assetContext = globalJson.asset_context || { criticality: 'Medium' };\n\nglobalJson.changes.forEach(change => {\n    change.business_impact = assetContext.criticality;\n});\n\nreturn globalJson;\n"
      }
    },
    {
      "id": "107fdc76-75f0-4ee8-aa2c-1dfcc6d2ff6a",
      "name": "Sticky Note: 13 Threat Intelligence Cache",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        8000
      ],
      "parameters": {
        "content": "## 13 Threat Intelligence Cache",
        "height": 800,
        "width": 14600,
        "color": 4
      }
    },
    {
      "id": "09014023-b9a9-48bb-8947-55af480fd382",
      "name": "CODE_ExtractFindings",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        0,
        8000
      ],
      "parameters": {
        "jsCode": "return $json.vulnerabilities || [];"
      }
    },
    {
      "id": "897183c0-16f0-49ec-9031-3513c58a7ebb",
      "name": "IF_NVD",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        300,
        7400
      ],
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "{{ $('CFG_Configuration').item.json.ENABLE_NVD }}",
              "value2": true
            }
          ]
        }
      }
    },
    {
      "id": "6168121d-d0c4-4388-bca4-7c709c18111f",
      "name": "DB_CacheLookup_NVD",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [
        600,
        7350
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM threat_intel_cache WHERE cache_key = $1 AND provider = 'NVD'"
      },
      "continueOnFail": true,
      "credentials": {
        "postgres": {
          "id": "",
          "name": "Postgres account"
        }
      }
    },
    {
      "id": "a88ae815-b33b-435c-9efd-64b1a3178205",
      "name": "IF_CacheValid_NVD",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        900,
        7350
      ],
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "{{ $json.expires_at > new Date().toISOString() }}",
              "value2": true
            }
          ]
        }
      }
    },
    {
      "id": "d0507066-a5c4-4637-9ace-2119d8f56bbc",
      "name": "HTTP_NVD",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        1200,
        7400
      ],
      "parameters": {
        "url": "https://api.example.com/nvd",
        "method": "GET"
      },
      "continueOnFail": true
    },
    {
      "id": "b721ac96-d494-43cf-8677-8e4dea3512bb",
      "name": "IF_ApiSuccess_NVD",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1500,
        7400
      ],
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "{{ $json.status === 'success' }}",
              "value2": true
            }
          ]
        }
      }
    },
    {
      "id": "741854fd-27c5-4961-84c7-353c95ca4d06",
      "name": "DB_SaveCache_NVD",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [
        1800,
        7350
      ],
      "parameters": {
        "operation": "insert",
        "table": "threat_intel_cache",
        "columns": "cache_key, provider, entity_type, response, expires_at",
        "dataMode": "autoMapInputData"
      },
      "continueOnFail": true,
      "credentials": {
        "postgres": {
          "id": "",
          "name": "Postgres account"
        }
      }
    },
    {
      "id": "c7d24596-27d8-4755-9933-4b04a0925e68",
      "name": "IF_HasStaleCache_NVD",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1800,
        7450
      ],
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "{{ $items('DB_CacheLookup_NVD')[0].json.response ? true : false }}",
              "value2": true
            }
          ]
        }
      }
    },
    {
      "id": "9b5cba83-581b-443e-aecb-3eff2934226b",
      "name": "RETURN_CACHE_NVD",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        1200,
        7250
      ],
      "parameters": {
        "jsCode": "return { provider: 'NVD', source: 'cache', data: $json };"
      }
    },
    {
      "id": "f410a7fa-c312-4cb9-b3cf-e7b700c08d66",
      "name": "RETURN_STALE_NVD",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        2100,
        7400
      ],
      "parameters": {
        "jsCode": "return { provider: 'NVD', source: 'stale_cache', data: $items('DB_CacheLookup_NVD')[0].json };"
      }
    },
    {
      "id": "d94c890b-290e-4953-bb3f-6402bb4d8dcc",
      "name": "SKIP_NVD",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        2100,
        7500
      ],
      "parameters": {
        "jsCode": "return { provider: 'NVD', skipped: true };"
      }
    },
    {
      "id": "4ffa783e-2e36-4469-a4b5-3b40bb582206",
      "name": "IF_EPSS",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        300,
        7750
      ],
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "{{ $('CFG_Configuration').item.json.ENABLE_EPSS }}",
              "value2": true
            }
          ]
        }
      }
    },
    {
      "id": "5b61f4e3-00de-4bfb-98c1-e315a5bbc38b",
      "name": "DB_CacheLookup_EPSS",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [
        600,
        7700
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM threat_intel_cache WHERE cache_key = $1 AND provider = 'EPSS'"
      },
      "continueOnFail": true,
      "credentials": {
        "postgres": {
          "id": "",
          "name": "Postgres account"
        }
      }
    },
    {
      "id": "ecd3ce23-5927-4d4e-af11-a8f0e98f6882",
      "name": "IF_CacheValid_EPSS",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        900,
        7700
      ],
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "{{ $json.expires_at > new Date().toISOString() }}",
              "value2": true
            }
          ]
        }
      }
    },
    {
      "id": "5f882ea0-32f0-42ab-8c8a-6bfc1b606543",
      "name": "HTTP_EPSS",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        1200,
        7750
      ],
      "parameters": {
        "url": "https://api.example.com/epss",
        "method": "GET"
      },
      "continueOnFail": true
    },
    {
      "id": "72fd19e6-9fea-4e9c-826f-b111b9f67e17",
      "name": "IF_ApiSuccess_EPSS",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1500,
        7750
      ],
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "{{ $json.status === 'success' }}",
              "value2": true
            }
          ]
        }
      }
    },
    {
      "id": "40aa57c9-6c20-447f-b90d-3b21c355b9cb",
      "name": "DB_SaveCache_EPSS",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [
        1800,
        7700
      ],
      "parameters": {
        "operation": "insert",
        "table": "threat_intel_cache",
        "columns": "cache_key, provider, entity_type, response, expires_at",
        "dataMode": "autoMapInputData"
      },
      "continueOnFail": true,
      "credentials": {
        "postgres": {
          "id": "",
          "name": "Postgres account"
        }
      }
    },
    {
      "id": "b7f07ae6-c21a-43ca-88d3-627241411d57",
      "name": "IF_HasStaleCache_EPSS",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1800,
        7800
      ],
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "{{ $items('DB_CacheLookup_EPSS')[0].json.response ? true : false }}",
              "value2": true
            }
          ]
        }
      }
    },
    {
      "id": "2ef28d8f-6160-46db-9181-7a0029f2ee8b",
      "name": "RETURN_CACHE_EPSS",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        1200,
        7600
      ],
      "parameters": {
        "jsCode": "return { provider: 'EPSS', source: 'cache', data: $json };"
      }
    },
    {
      "id": "539f5d7b-c4c9-4562-914b-5e5fd4d04c0a",
      "name": "RETURN_STALE_EPSS",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        2100,
        7750
      ],
      "parameters": {
        "jsCode": "return { provider: 'EPSS', source: 'stale_cache', data: $items('DB_CacheLookup_EPSS')[0].json };"
      }
    },
    {
      "id": "f34afdd7-7970-477d-af44-862e1d20fc28",
      "name": "SKIP_EPSS",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        2100,
        7850
      ],
      "parameters": {
        "jsCode": "return { provider: 'EPSS', skipped: true };"
      }
    },
    {
      "id": "598d3587-1031-4d18-a4f5-e9010a64317c",
      "name": "IF_KEV",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        300,
        8100
      ],
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "{{ $('CFG_Configuration').item.json.ENABLE_KEV }}",
              "value2": true
            }
          ]
        }
      }
    },
    {
      "id": "5b00ca93-d66d-485b-bb50-cc91c6285442",
      "name": "DB_CacheLookup_KEV",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [
        600,
        8050
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM threat_intel_cache WHERE cache_key = $1 AND provider = 'KEV'"
      },
      "continueOnFail": true,
      "credentials": {
        "postgres": {
          "id": "",
          "name": "Postgres account"
        }
      }
    },
    {
      "id": "4c56d15b-066a-4dc8-9e45-4a51b1b28073",
      "name": "IF_CacheValid_KEV",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        900,
        8050
      ],
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "{{ $json.expires_at > new Date().toISOString() }}",
              "value2": true
            }
          ]
        }
      }
    },
    {
      "id": "be03e147-11d4-4c06-aa8b-f5ac6d4785d5",
      "name": "HTTP_KEV",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        1200,
        8100
      ],
      "parameters": {
        "url": "https://api.example.com/kev",
        "method": "GET"
      },
      "continueOnFail": true
    },
    {
      "id": "2eedad88-3e60-4fd8-83ae-580a1f5c2ad5",
      "name": "IF_ApiSuccess_KEV",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1500,
        8100
      ],
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "{{ $json.status === 'success' }}",
              "value2": true
            }
          ]
        }
      }
    },
    {
      "id": "dcdbb2c9-9cc7-444a-b061-886c329d472a",
      "name": "DB_SaveCache_KEV",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [
        1800,
        8050
      ],
      "parameters": {
        "operation": "insert",
        "table": "threat_intel_cache",
        "columns": "cache_key, provider, entity_type, response, expires_at",
        "dataMode": "autoMapInputData"
      },
      "continueOnFail": true,
      "credentials": {
        "postgres": {
          "id": "",
          "name": "Postgres account"
        }
      }
    },
    {
      "id": "374cc177-a1c2-4fd9-8170-28dc65d48da6",
      "name": "IF_HasStaleCache_KEV",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1800,
        8150
      ],
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "{{ $items('DB_CacheLookup_KEV')[0].json.response ? true : false }}",
              "value2": true
            }
          ]
        }
      }
    },
    {
      "id": "6a55a1aa-f71c-4646-8ba7-0a87fab8e3e2",
      "name": "RETURN_CACHE_KEV",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        1200,
        7950
      ],
      "parameters": {
        "jsCode": "return { provider: 'KEV', source: 'cache', data: $json };"
      }
    },
    {
      "id": "a39dac53-b56c-497b-b893-91898d9ffa86",
      "name": "RETURN_STALE_KEV",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        2100,
        8100
      ],
      "parameters": {
        "jsCode": "return { provider: 'KEV', source: 'stale_cache', data: $items('DB_CacheLookup_KEV')[0].json };"
      }
    },
    {
      "id": "776281f6-e79a-46c8-951c-abd01bc7cce7",
      "name": "SKIP_KEV",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        2100,
        8200
      ],
      "parameters": {
        "jsCode": "return { provider: 'KEV', skipped: true };"
      }
    },
    {
      "id": "75fca51f-3450-4ca6-94d9-87aa1d38c2c3",
      "name": "IF_Shodan",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        300,
        8450
      ],
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "{{ $('CFG_Configuration').item.json.ENABLE_SHODAN }}",
              "value2": true
            }
          ]
        }
      }
    },
    {
      "id": "e144be14-7017-40d5-a569-38e50044e451",
      "name": "DB_CacheLookup_Shodan",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [
        600,
        8400
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM threat_intel_cache WHERE cache_key = $1 AND provider = 'Shodan'"
      },
      "continueOnFail": true,
      "credentials": {
        "postgres": {
          "id": "",
          "name": "Postgres account"
        }
      }
    },
    {
      "id": "c59bfd53-78a0-4ea2-9374-f4aa14b5bc12",
      "name": "IF_CacheValid_Shodan",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        900,
        8400
      ],
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "{{ $json.expires_at > new Date().toISOString() }}",
              "value2": true
            }
          ]
        }
      }
    },
    {
      "id": "652d0c18-a381-4106-bc94-4ff402a40b9b",
      "name": "HTTP_Shodan",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        1200,
        8450
      ],
      "parameters": {
        "url": "https://api.example.com/shodan",
        "method": "GET"
      },
      "continueOnFail": true
    },
    {
      "id": "9055c6cb-85de-465d-b491-4d701a00ea2e",
      "name": "IF_ApiSuccess_Shodan",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1500,
        8450
      ],
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "{{ $json.status === 'success' }}",
              "value2": true
            }
          ]
        }
      }
    },
    {
      "id": "445133cd-5cef-4438-b540-7c88b39c43cb",
      "name": "DB_SaveCache_Shodan",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [
        1800,
        8400
      ],
      "parameters": {
        "operation": "insert",
        "table": "threat_intel_cache",
        "columns": "cache_key, provider, entity_type, response, expires_at",
        "dataMode": "autoMapInputData"
      },
      "continueOnFail": true,
      "credentials": {
        "postgres": {
          "id": "",
          "name": "Postgres account"
        }
      }
    },
    {
      "id": "abb9f4d9-dcb5-464e-b0e5-44f639e489f8",
      "name": "IF_HasStaleCache_Shodan",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1800,
        8500
      ],
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "{{ $items('DB_CacheLookup_Shodan')[0].json.response ? true : false }}",
              "value2": true
            }
          ]
        }
      }
    },
    {
      "id": "7b4392fe-555c-4483-b410-cbcbc7bcc851",
      "name": "RETURN_CACHE_Shodan",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        1200,
        8300
      ],
      "parameters": {
        "jsCode": "return { provider: 'Shodan', source: 'cache', data: $json };"
      }
    },
    {
      "id": "e1ded7d2-e784-4894-b8a4-84ac5efee435",
      "name": "RETURN_STALE_Shodan",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        2100,
        8450
      ],
      "parameters": {
        "jsCode": "return { provider: 'Shodan', source: 'stale_cache', data: $items('DB_CacheLookup_Shodan')[0].json };"
      }
    },
    {
      "id": "55240285-6dbf-4077-98e5-16bb0a6f9680",
      "name": "SKIP_Shodan",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        2100,
        8550
      ],
      "parameters": {
        "jsCode": "return { provider: 'Shodan', skipped: true };"
      }
    },
    {
      "id": "3a0f1fb6-ff53-42ee-90ef-6cf232509d31",
      "name": "IF_VirusTotal",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        300,
        8800
      ],
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "{{ $('CFG_Configuration').item.json.ENABLE_VIRUSTOTAL }}",
              "value2": true
            }
          ]
        }
      }
    },
    {
      "id": "b15bde5e-5ce2-40b0-b89f-3108406d9d8d",
      "name": "DB_CacheLookup_VirusTotal",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [
        600,
        8750
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM threat_intel_cache WHERE cache_key = $1 AND provider = 'VirusTotal'"
      },
      "continueOnFail": true,
      "credentials": {
        "postgres": {
          "id": "",
          "name": "Postgres account"
        }
      }
    },
    {
      "id": "8a6e06e0-c4b5-4b60-876c-25fcb275ba56",
      "name": "IF_CacheValid_VirusTotal",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        900,
        8750
      ],
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "{{ $json.expires_at > new Date().toISOString() }}",
              "value2": true
            }
          ]
        }
      }
    },
    {
      "id": "afe1f404-7a1c-45ef-a5d8-7a98dc3141d2",
      "name": "HTTP_VirusTotal",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        1200,
        8800
      ],
      "parameters": {
        "url": "https://api.example.com/virustotal",
        "method": "GET"
      },
      "continueOnFail": true
    },
    {
      "id": "a47b9c2b-3ea2-48fd-9edc-fcc6735f51e7",
      "name": "IF_ApiSuccess_VirusTotal",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1500,
        8800
      ],
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "{{ $json.status === 'success' }}",
              "value2": true
            }
          ]
        }
      }
    },
    {
      "id": "22ec8e52-486b-4e37-b3b6-90e69aee2b7f",
      "name": "DB_SaveCache_VirusTotal",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [
        1800,
        8750
      ],
      "parameters": {
        "operation": "insert",
        "table": "threat_intel_cache",
        "columns": "cache_key, provider, entity_type, response, expires_at",
        "dataMode": "autoMapInputData"
      },
      "continueOnFail": true,
      "credentials": {
        "postgres": {
          "id": "",
          "name": "Postgres account"
        }
      }
    },
    {
      "id": "e80edc49-4f04-4b92-8f2f-55c37dbe7265",
      "name": "IF_HasStaleCache_VirusTotal",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1800,
        8850
      ],
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "{{ $items('DB_CacheLookup_VirusTotal')[0].json.response ? true : false }}",
              "value2": true
            }
          ]
        }
      }
    },
    {
      "id": "a5518eb4-c518-49ab-a095-4b85dea04920",
      "name": "RETURN_CACHE_VirusTotal",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        1200,
        8650
      ],
      "parameters": {
        "jsCode": "return { provider: 'VirusTotal', source: 'cache', data: $json };"
      }
    },
    {
      "id": "88193682-4357-435f-b7a2-0789c04799d2",
      "name": "RETURN_STALE_VirusTotal",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        2100,
        8800
      ],
      "parameters": {
        "jsCode": "return { provider: 'VirusTotal', source: 'stale_cache', data: $items('DB_CacheLookup_VirusTotal')[0].json };"
      }
    },
    {
      "id": "78118e97-a776-44e3-b791-15e66d3d5b88",
      "name": "SKIP_VirusTotal",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        2100,
        8900
      ],
      "parameters": {
        "jsCode": "return { provider: 'VirusTotal', skipped: true };"
      }
    },
    {
      "id": "95f2c5ca-2d34-4104-9ce1-711b3496b130",
      "name": "IF_GreyNoise",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        300,
        9150
      ],
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "{{ $('CFG_Configuration').item.json.ENABLE_GREYNOISE }}",
              "value2": true
            }
          ]
        }
      }
    },
    {
      "id": "05d6e4cb-29e5-4bb6-8c80-e1d7a55df215",
      "name": "DB_CacheLookup_GreyNoise",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [
        600,
        9100
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM threat_intel_cache WHERE cache_key = $1 AND provider = 'GreyNoise'"
      },
      "continueOnFail": true,
      "credentials": {
        "postgres": {
          "id": "",
          "name": "Postgres account"
        }
      }
    },
    {
      "id": "90bcb916-96e2-4be8-b5e8-58681fbf4359",
      "name": "IF_CacheValid_GreyNoise",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        900,
        9100
      ],
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "{{ $json.expires_at > new Date().toISOString() }}",
              "value2": true
            }
          ]
        }
      }
    },
    {
      "id": "1f13e60a-4228-4f6b-b9cb-365b944b38fe",
      "name": "HTTP_GreyNoise",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        1200,
        9150
      ],
      "parameters": {
        "url": "https://api.example.com/greynoise",
        "method": "GET"
      },
      "continueOnFail": true
    },
    {
      "id": "bce943ba-f8da-4187-b676-ba364de7e032",
      "name": "IF_ApiSuccess_GreyNoise",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1500,
        9150
      ],
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "{{ $json.status === 'success' }}",
              "value2": true
            }
          ]
        }
      }
    },
    {
      "id": "4ab35942-1eac-4255-a0a3-ba3cd0ad7442",
      "name": "DB_SaveCache_GreyNoise",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [
        1800,
        9100
      ],
      "parameters": {
        "operation": "insert",
        "table": "threat_intel_cache",
        "columns": "cache_key, provider, entity_type, response, expires_at",
        "dataMode": "autoMapInputData"
      },
      "continueOnFail": true,
      "credentials": {
        "postgres": {
          "id": "",
          "name": "Postgres account"
        }
      }
    },
    {
      "id": "8ea92d10-3910-468f-a1ea-77b50cace5c3",
      "name": "IF_HasStaleCache_GreyNoise",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1800,
        9200
      ],
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "{{ $items('DB_CacheLookup_GreyNoise')[0].json.response ? true : false }}",
              "value2": true
            }
          ]
        }
      }
    },
    {
      "id": "0b0825ca-505c-4d13-8334-5d33b933e39b",
      "name": "RETURN_CACHE_GreyNoise",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        1200,
        9000
      ],
      "parameters": {
        "jsCode": "return { provider: 'GreyNoise', source: 'cache', data: $json };"
      }
    },
    {
      "id": "a61c9581-f602-458f-a761-b04f67e3b5cc",
      "name": "RETURN_STALE_GreyNoise",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        2100,
        9150
      ],
      "parameters": {
        "jsCode": "return { provider: 'GreyNoise', source: 'stale_cache', data: $items('DB_CacheLookup_GreyNoise')[0].json };"
      }
    },
    {
      "id": "04af2484-f56e-4ec3-aa9c-ec311e3de549",
      "name": "SKIP_GreyNoise",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        2100,
        9250
      ],
      "parameters": {
        "jsCode": "return { provider: 'GreyNoise', skipped: true };"
      }
    },
    {
      "id": "96734b61-60b2-455a-be88-f3659e2cf89f",
      "name": "IF_AbuseIPDB",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        300,
        9500
      ],
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "{{ $('CFG_Configuration').item.json.ENABLE_ABUSEIPDB }}",
              "value2": true
            }
          ]
        }
      }
    },
    {
      "id": "e93e9487-9cdb-4a1f-ac3a-b78a2e41f1f4",
      "name": "DB_CacheLookup_AbuseIPDB",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [
        600,
        9450
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM threat_intel_cache WHERE cache_key = $1 AND provider = 'AbuseIPDB'"
      },
      "continueOnFail": true,
      "credentials": {
        "postgres": {
          "id": "",
          "name": "Postgres account"
        }
      }
    },
    {
      "id": "7f92836d-49cc-4d38-96be-9ac52e78eac9",
      "name": "IF_CacheValid_AbuseIPDB",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        900,
        9450
      ],
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "{{ $json.expires_at > new Date().toISOString() }}",
              "value2": true
            }
          ]
        }
      }
    },
    {
      "id": "4bde07e5-671c-42a7-9f9f-4e2c97257e6b",
      "name": "HTTP_AbuseIPDB",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        1200,
        9500
      ],
      "parameters": {
        "url": "https://api.example.com/abuseipdb",
        "method": "GET"
      },
      "continueOnFail": true
    },
    {
      "id": "5fa89f14-89cc-4256-898e-de1516efee5b",
      "name": "IF_ApiSuccess_AbuseIPDB",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1500,
        9500
      ],
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "{{ $json.status === 'success' }}",
              "value2": true
            }
          ]
        }
      }
    },
    {
      "id": "c8d31d52-4f83-4502-a9b5-0592858afb72",
      "name": "DB_SaveCache_AbuseIPDB",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [
        1800,
        9450
      ],
      "parameters": {
        "operation": "insert",
        "table": "threat_intel_cache",
        "columns": "cache_key, provider, entity_type, response, expires_at",
        "dataMode": "autoMapInputData"
      },
      "continueOnFail": true,
      "credentials": {
        "postgres": {
          "id": "",
          "name": "Postgres account"
        }
      }
    },
    {
      "id": "c880a517-96fb-45df-a26e-bfdd715ab1f8",
      "name": "IF_HasStaleCache_AbuseIPDB",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1800,
        9550
      ],
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "{{ $items('DB_CacheLookup_AbuseIPDB')[0].json.response ? true : false }}",
              "value2": true
            }
          ]
        }
      }
    },
    {
      "id": "a4d24962-ed65-42d8-99f1-635056e08bed",
      "name": "RETURN_CACHE_AbuseIPDB",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        1200,
        9350
      ],
      "parameters": {
        "jsCode": "return { provider: 'AbuseIPDB', source: 'cache', data: $json };"
      }
    },
    {
      "id": "f2063359-12cf-4235-b36c-ce06728a4cd2",
      "name": "RETURN_STALE_AbuseIPDB",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        2100,
        9500
      ],
      "parameters": {
        "jsCode": "return { provider: 'AbuseIPDB', source: 'stale_cache', data: $items('DB_CacheLookup_AbuseIPDB')[0].json };"
      }
    },
    {
      "id": "a6143ad9-b6eb-43b9-9679-ee3bfecf39e0",
      "name": "SKIP_AbuseIPDB",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        2100,
        9600
      ],
      "parameters": {
        "jsCode": "return { provider: 'AbuseIPDB', skipped: true };"
      }
    },
    {
      "id": "bc6df054-80bc-4977-85b9-97163c2ec91c",
      "name": "MERGE_ThreatIntel",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        2500,
        8450
      ],
      "parameters": {
        "mode": "wait"
      }
    },
    {
      "id": "a3b534db-00b7-45a6-a334-5b188cbec2aa",
      "name": "CODE_ThreatIntelAggregator",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        2800,
        8450
      ],
      "parameters": {
        "jsCode": "\nconst globalJson = $items(\"CODE_CalculateDelta\")[0].json;\nglobalJson.threat_intelligence = {\n    sources: {}, summary: {}, confidence: 0,\n    cache: { hits: 0, misses: 0, refreshes: 0, stale: 0 },\n    metrics: { success_count: 0, skip_count: 0, fail_count: 0 }\n};\n\nlet activeSources = 0;\nfor (const item of $input.all()) {\n    const data = item.json;\n    if (data.skipped) {\n        globalJson.threat_intelligence.metrics.skip_count++;\n    } else {\n        globalJson.threat_intelligence.metrics.success_count++;\n        activeSources++;\n        \n        // Track Cache Metrics\n        if (data.source === 'cache') {\n            globalJson.threat_intelligence.cache.hits++;\n        } else if (data.source === 'stale_cache') {\n            globalJson.threat_intelligence.cache.stale++;\n        } else {\n            globalJson.threat_intelligence.cache.refreshes++;\n        }\n\n        globalJson.threat_intelligence.sources[data.provider || 'unknown'] = {\n            source_type: data.source || 'live_api',\n            retrieved_at: new Date().toISOString(),\n            confidence: 0.95\n        };\n    }\n}\n\nglobalJson.threat_intelligence.confidence = activeSources > 0 ? (activeSources / 7) : 0;\nreturn globalJson;\n"
      }
    },
    {
      "id": "2ec3750b-f9c9-42d3-95a4-2719dd67a013",
      "name": "Sticky Note: 14 Trend Intelligence Engine",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        8900
      ],
      "parameters": {
        "content": "## 14 Trend Intelligence Engine",
        "height": 800,
        "width": 1600,
        "color": 3
      }
    },
    {
      "id": "cc987b0c-f3ec-4bb9-a836-13d52214485b",
      "name": "DB_LoadHistoricalTrends",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [
        0,
        9200
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM trend_analysis WHERE asset_id = '{{ $('CFG_Configuration').item.json.TARGET_DOMAIN }}' AND date >= CURRENT_DATE - 90 ORDER BY date ASC"
      },
      "continueOnFail": true,
      "credentials": {
        "postgres": {
          "id": "",
          "name": "Postgres account"
        }
      }
    },
    {
      "id": "eeb72a8f-3291-4bd3-aca0-6b41ca381ae5",
      "name": "CODE_EngineRiskTrend",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        400,
        8900
      ],
      "parameters": {
        "jsCode": "// Mock logic for RiskTrend\\nreturn { engine: 'RiskTrend', data: { trend: 'stable', value: Math.random() } };"
      }
    },
    {
      "id": "c5fa143c-84cc-47ac-8009-1bb449f3a17f",
      "name": "CODE_EngineFindingVelocity",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        400,
        9050
      ],
      "parameters": {
        "jsCode": "// Mock logic for FindingVelocity\\nreturn { engine: 'FindingVelocity', data: { trend: 'stable', value: Math.random() } };"
      }
    },
    {
      "id": "9ce2a080-c6a9-45c3-b394-9735ee98b790",
      "name": "CODE_EngineAssetGrowth",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        400,
        9200
      ],
      "parameters": {
        "jsCode": "// Mock logic for AssetGrowth\\nreturn { engine: 'AssetGrowth', data: { trend: 'stable', value: Math.random() } };"
      }
    },
    {
      "id": "df3b83f5-eddf-46c9-af91-70d3a2f8a71d",
      "name": "CODE_EngineScannerHealth",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        400,
        9350
      ],
      "parameters": {
        "jsCode": "// Mock logic for ScannerHealth\\nreturn { engine: 'ScannerHealth', data: { trend: 'stable', value: Math.random() } };"
      }
    },
    {
      "id": "f5869390-6274-48cf-872b-ed5eea48f796",
      "name": "CODE_EngineThreatEvolution",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        400,
        9500
      ],
      "parameters": {
        "jsCode": "// Mock logic for ThreatEvolution\\nreturn { engine: 'ThreatEvolution', data: { trend: 'stable', value: Math.random() } };"
      }
    },
    {
      "id": "a5379ff1-c532-4e56-87a0-37900590daa5",
      "name": "MERGE_TrendEngines",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        700,
        9200
      ],
      "parameters": {
        "mode": "wait"
      }
    },
    {
      "id": "e52ca528-9510-4cd8-99ff-ba38b732d1de",
      "name": "CODE_TrendConfidence",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        1000,
        9200
      ],
      "parameters": {
        "jsCode": "\nconst globalJson = $items(\"CODE_ThreatIntelAggregator\")[0].json;\n\nglobalJson.trend = {\n    risk: {},\n    findings: {},\n    assets: {},\n    scanner_health: {},\n    threat_evolution: {},\n    confidence: 0.95\n};\n\nfor (const item of $input.all()) {\n    if (item.json.engine === 'RiskTrend') globalJson.trend.risk = item.json.data;\n    if (item.json.engine === 'FindingVelocity') globalJson.trend.findings = item.json.data;\n    if (item.json.engine === 'AssetGrowth') globalJson.trend.assets = item.json.data;\n    if (item.json.engine === 'ScannerHealth') globalJson.trend.scanner_health = item.json.data;\n    if (item.json.engine === 'ThreatEvolution') globalJson.trend.threat_evolution = item.json.data;\n}\n\nreturn globalJson;\n"
      }
    },
    {
      "id": "ffb151d8-b068-44f1-8d8e-bb72c241eb08",
      "name": "Sticky Note: 15 Security Intelligence Layer",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        9800
      ],
      "parameters": {
        "content": "## 15 Security Intelligence Layer",
        "height": 800,
        "width": 1600,
        "color": 5
      }
    },
    {
      "id": "94bdfb8d-3c30-44f3-8ea5-1fbd38ea7c3b",
      "name": "CODE_ExtractRawMetrics",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        0,
        10000
      ],
      "parameters": {
        "jsCode": "return $json;"
      }
    },
    {
      "id": "38d338cc-a295-48d0-b193-34a8040f44e5",
      "name": "CODE_OperationalMetrics",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        400,
        9800
      ],
      "parameters": {
        "jsCode": "// Mock logic for Operational Metrics\\nreturn { category: 'operational', metrics: { score: Math.random() } };"
      }
    },
    {
      "id": "6a9af7a5-ccf7-4b97-801c-3ffface61d6b",
      "name": "CODE_SecurityMetrics",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        400,
        9950
      ],
      "parameters": {
        "jsCode": "// Mock logic for Security Metrics\\nreturn { category: 'security', metrics: { score: Math.random() } };"
      }
    },
    {
      "id": "f65df1ea-8efa-43a5-8a0c-010f6898f256",
      "name": "CODE_ExecutiveMetrics",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        400,
        10100
      ],
      "parameters": {
        "jsCode": "// Mock logic for Executive Metrics\\nreturn { category: 'executive', metrics: { score: Math.random() } };"
      }
    },
    {
      "id": "b1f88510-e9b4-45a2-b960-d74f1336de1e",
      "name": "CODE_BusinessMetrics",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        400,
        10250
      ],
      "parameters": {
        "jsCode": "// Mock logic for Business Metrics\\nreturn { category: 'business', metrics: { score: Math.random() } };"
      }
    },
    {
      "id": "776221ae-3478-4086-983e-5380e094395c",
      "name": "MERGE_SecurityIntel",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        700,
        10000
      ],
      "parameters": {
        "mode": "wait"
      }
    },
    {
      "id": "b11ebf8d-1f72-4a11-9c42-79bf1c40b8c9",
      "name": "CODE_SecurityIntelligenceAggregator",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        1000,
        10000
      ],
      "parameters": {
        "jsCode": "\nconst globalJson = $items(\"CODE_TrendConfidence\")[0].json;\n\nglobalJson.security_intelligence = {\n    operational: {},\n    security: {},\n    executive: {},\n    business: {},\n    generated_at: new Date().toISOString()\n};\n\nfor (const item of $input.all()) {\n    if (item.json.category === 'operational') globalJson.security_intelligence.operational = item.json.metrics;\n    if (item.json.category === 'security') globalJson.security_intelligence.security = item.json.metrics;\n    if (item.json.category === 'executive') globalJson.security_intelligence.executive = item.json.metrics;\n    if (item.json.category === 'business') globalJson.security_intelligence.business = item.json.metrics;\n}\n\nreturn globalJson;\n"
      }
    },
    {
      "id": "aee5af79-1736-4d1f-8bd4-bb7a7fbfe4d7",
      "name": "DB_SaveSecurityIntelligence",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [
        1300,
        10000
      ],
      "parameters": {
        "operation": "insert",
        "table": "dashboard_metrics",
        "columns": "asset_id, operational_metrics, security_metrics, executive_metrics, business_metrics",
        "dataMode": "defineBelow",
        "values": {
          "value": [
            {
              "column": "asset_id",
              "value": "={{ $('CFG_Configuration').item.json.TARGET_DOMAIN }}"
            },
            {
              "column": "operational_metrics",
              "value": "={{ JSON.stringify($json.security_intelligence.operational) }}"
            },
            {
              "column": "security_metrics",
              "value": "={{ JSON.stringify($json.security_intelligence.security) }}"
            },
            {
              "column": "executive_metrics",
              "value": "={{ JSON.stringify($json.security_intelligence.executive) }}"
            },
            {
              "column": "business_metrics",
              "value": "={{ JSON.stringify($json.security_intelligence.business) }}"
            }
          ]
        }
      },
      "continueOnFail": true,
      "credentials": {
        "postgres": {
          "id": "",
          "name": "Postgres account"
        }
      }
    },
    {
      "id": "1ca0043e-251d-4cf0-8f15-3eba5514c955",
      "name": "Sticky Note: 16 Risk Engine",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        10700
      ],
      "parameters": {
        "content": "## 16 Risk Engine",
        "height": 400,
        "width": 1000,
        "color": 7
      }
    },
    {
      "id": "6af84519-7944-46b6-81bf-433b2844562b",
      "name": "CODE_CalculateRisk",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        50,
        10800
      ],
      "parameters": {
        "jsCode": "let score = 0;\n// Deterministic Logic: CVSS + EPSS + KEV + Ports + SSL + Headers + Exposure\nconst vulns = $json.vulnerabilities || [];\nif (vulns.length > 0) score += 40; // Example CVSS weight\nconst ports = $json.ports || [];\nif (ports.includes('3389') || ports.includes('22')) score += 15; // Risky open ports\nif ($json.ssl && $json.ssl.expired) score += 10;\nif (!$json.headers?.HSTS) score += 5;\n\n// Apply historical penalty if new critical port\nif ($json.historical?.new_ports?.includes('3389')) score += 20;\n\n// Clamp score 0-100\n$json.risk.score = Math.min(Math.max(score, 0), 100);\n\n// Calculate delta now that we have current score\nif ($json.historical.previous_risk !== null) {\n  $json.historical.risk_delta = $json.risk.score - $json.historical.previous_risk;\n} else {\n  $json.historical.risk_delta = 0;\n}\nreturn $json;\n"
      }
    },
    {
      "id": "b05b219d-bb18-4978-b769-614edec31970",
      "name": "Sticky Note: 17 Ticketing & Incident Management",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        11200
      ],
      "parameters": {
        "content": "## 17 Ticketing & Incident Management",
        "height": 800,
        "width": 1600,
        "color": 8
      }
    },
    {
      "id": "cd186444-e091-47ca-8f95-5730754414fb",
      "name": "CODE_IncidentCorrelator",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        0,
        11400
      ],
      "parameters": {
        "jsCode": "\nconst globalJson = $json;\nconst findings = globalJson.vulnerabilities || [];\nglobalJson.incident = {\n    title: `Incident: Multiple Findings on ${globalJson.TARGET_DOMAIN}`,\n    finding_count: findings.length,\n    related_findings: findings.map(f => f.hash || f.name)\n};\nreturn globalJson;\n"
      }
    },
    {
      "id": "01ecef33-e727-48a0-8ab2-a86536aa730d",
      "name": "CODE_PriorityMatrix",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        300,
        11400
      ],
      "parameters": {
        "jsCode": "\nconst globalJson = $json;\nconst riskScore = globalJson.risk_score || 0;\nconst criticality = (globalJson.asset_context || {}).criticality || 'Medium';\n\nlet priority = 'P4';\nif (riskScore > 90 && criticality === 'Critical') priority = 'P1';\nelse if (riskScore > 80) priority = 'P2';\nelse if (riskScore > 60) priority = 'P3';\n\nglobalJson.incident.priority = priority;\nreturn globalJson;\n"
      }
    },
    {
      "id": "a1722273-6a68-40e7-8f98-53937f775650",
      "name": "CODE_TicketDeduplication",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        600,
        11400
      ],
      "parameters": {
        "jsCode": "// Mock deduplication logic\\n$json.incident.is_duplicate = false;\\nreturn $json;"
      }
    },
    {
      "id": "f520cc22-391d-4527-ab3c-e97f188172b0",
      "name": "IF_IsDuplicate",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        900,
        11400
      ],
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.incident.is_duplicate }}",
              "value2": true
            }
          ]
        }
      }
    },
    {
      "id": "68d55cac-9b4b-4a6a-905e-e924e0113e82",
      "name": "TicketRouter",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        1200,
        11500
      ],
      "parameters": {
        "jsCode": "return $json;"
      }
    },
    {
      "id": "096f9ff0-ef9f-416f-b599-a9cf64682cd5",
      "name": "HTTP_GitHubCreateIssue",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        1500,
        11500
      ],
      "parameters": {
        "url": "https://api.github.com/repos/mock/mock/issues",
        "method": "POST"
      }
    },
    {
      "id": "7a97cd95-8e78-41e6-adb8-cdd35c9134ea",
      "name": "HTTP_GitHubUpdateIssue",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        1500,
        11300
      ],
      "parameters": {
        "url": "https://api.github.com/repos/mock/mock/issues/1",
        "method": "PATCH"
      }
    },
    {
      "id": "b3111217-499e-4a2f-928f-9f6ace49c044",
      "name": "DB_SaveIncidentState",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [
        1800,
        11400
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT 1"
      },
      "continueOnFail": true,
      "credentials": {
        "postgres": {
          "id": "",
          "name": "Postgres account"
        }
      }
    },
    {
      "id": "3364dd94-c546-4f6c-ab77-1a4e022005b5",
      "name": "Sticky Note: 18 Notification & Approval Engine",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        12100
      ],
      "parameters": {
        "content": "## 18 Notification & Approval Engine",
        "height": 800,
        "width": 1200,
        "color": 8
      }
    },
    {
      "id": "be616e3c-862f-41f6-a744-d5390682afa2",
      "name": "CODE_NotificationPolicyEngine",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        0,
        12300
      ],
      "parameters": {
        "jsCode": "\nconst globalJson = $json;\nconst priority = (globalJson.incident || {}).priority || 'P4';\nconst policy = { require_approval: false, channels: [] };\n\nif (priority === 'P1') {\n    policy.require_approval = true;\n    policy.channels = ['Slack', 'Email'];\n} else if (priority === 'P2') {\n    policy.channels = ['Slack', 'Email'];\n} else if (priority === 'P3') {\n    policy.channels = ['Slack'];\n}\n\nglobalJson.notification_policy = policy;\nreturn globalJson;\n"
      }
    },
    {
      "id": "985b40aa-8b18-4119-8b06-c0aa06c5d661",
      "name": "IF_RequiresApproval",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        300,
        12300
      ],
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.notification_policy.require_approval }}",
              "value2": true
            }
          ]
        }
      }
    },
    {
      "id": "21f70404-8385-4044-a7c1-785b32d209e3",
      "name": "WAIT_ForApproval",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        600,
        12200
      ],
      "parameters": {
        "resume": "webhook",
        "webhookPath": "approve-incident"
      }
    },
    {
      "id": "b5ae2ba7-ea80-48ce-9875-cf00776e2e25",
      "name": "CODE_EscalationLogic",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        900,
        12200
      ],
      "parameters": {
        "jsCode": "\n// If wait timeout hit, escalate\n$json.incident.escalated = true;\nreturn $json;\n"
      }
    },
    {
      "id": "dd355e40-1ba1-45f2-9464-9abc1f8721f0",
      "name": "CODE_NotificationRouter",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        900,
        12400
      ],
      "parameters": {
        "jsCode": "\n// Routes to different channels based on policy.channels\nreturn $json;\n"
      }
    },
    {
      "id": "16e9cb14-6188-4335-a70f-73eab3cb3c25",
      "name": "HTTP_SlackWebhook",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        1200,
        12400
      ],
      "parameters": {
        "url": "https://hooks.slack.com/services/mock",
        "method": "POST"
      }
    },
    {
      "id": "bd8241b0-47d6-41fa-b121-98c7f43bc482",
      "name": "Sticky Note: 19 Multi-Agent AI System",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        13000
      ],
      "parameters": {
        "content": "## 19 Multi-Agent AI System",
        "height": 800,
        "width": 1400,
        "color": 6
      }
    },
    {
      "id": "27b7d285-07c1-4d85-aca5-cf5a0017dd51",
      "name": "AI_IncidentCommander",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        -300,
        13200
      ],
      "parameters": {
        "url": "https://api.openai.com/v1/chat/completions",
        "method": "POST",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "gpt-4-turbo"
            },
            {
              "name": "messages",
              "value": "=[{\"role\": \"system\", \"content\": \"Correlate multiple raw findings, cloud misconfigurations, and container vulnerabilities into a single incident.\"}, {\"role\": \"user\", \"content\": \"{{ JSON.stringify($json) }}\"}]"
            }
          ]
        }
      }
    },
    {
      "id": "9a9d3402-2fae-4307-8724-c87a14b9e61e",
      "name": "AI_SecurityAnalyst",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        0,
        13200
      ],
      "parameters": {
        "url": "https://api.openai.com/v1/chat/completions",
        "method": "POST",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "gpt-4-turbo"
            },
            {
              "name": "messages",
              "value": "=[{\"role\": \"system\", \"content\": \"Analyze technical vulnerability data and classify technical risk.\"}, {\"role\": \"user\", \"content\": \"{{ JSON.stringify($json) }}\"}]"
            }
          ]
        }
      }
    },
    {
      "id": "e873e6f4-5034-43e7-b778-866456e8f035",
      "name": "AI_ThreatAnalyst",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        300,
        13200
      ],
      "parameters": {
        "url": "https://api.openai.com/v1/chat/completions",
        "method": "POST",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "gpt-4-turbo"
            },
            {
              "name": "messages",
              "value": "=[{\"role\": \"system\", \"content\": \"Analyze Threat Intelligence, EPSS, and KEV to determine exploitability.\"}, {\"role\": \"user\", \"content\": \"{{ JSON.stringify($json) }}\"}]"
            }
          ]
        }
      }
    },
    {
      "id": "9834fe27-bdd8-4139-86ca-673d46b872be",
      "name": "AI_ExecutiveAnalyst",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        600,
        13200
      ],
      "parameters": {
        "url": "https://api.openai.com/v1/chat/completions",
        "method": "POST",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "gpt-4-turbo"
            },
            {
              "name": "messages",
              "value": "=[{\"role\": \"system\", \"content\": \"Translate technical risk into business impact based on Business Metrics.\"}, {\"role\": \"user\", \"content\": \"{{ JSON.stringify($json) }}\"}]"
            }
          ]
        }
      }
    },
    {
      "id": "a65d53ae-62e6-4589-ad1d-1047a4059b37",
      "name": "AI_RemediationPlanner",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        900,
        13200
      ],
      "parameters": {
        "url": "https://api.openai.com/v1/chat/completions",
        "method": "POST",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "gpt-4-turbo"
            },
            {
              "name": "messages",
              "value": "=[{\"role\": \"system\", \"content\": \"Develop step-by-step remediation strategies and calculate estimated hours.\"}, {\"role\": \"user\", \"content\": \"{{ JSON.stringify($json) }}\"}]"
            }
          ]
        }
      }
    },
    {
      "id": "50f89874-e3da-4656-b6e3-d73fa28ea17c",
      "name": "AI_ComplianceAdvisor",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        1200,
        13200
      ],
      "parameters": {
        "url": "https://api.openai.com/v1/chat/completions",
        "method": "POST",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "gpt-4-turbo"
            },
            {
              "name": "messages",
              "value": "=[{\"role\": \"system\", \"content\": \"Map findings to frameworks (CIS, NIST CSF, OWASP, SOC2, ISO27001), explain compliance impact, recommend remediation priorities, and estimate compliance improvement after fixes.\"}, {\"role\": \"user\", \"content\": \"{{ JSON.stringify($json) }}\"}]"
            }
          ]
        }
      }
    },
    {
      "id": "f37b3cc3-11d1-4368-a868-01245ffa7963",
      "name": "AI_QualityValidator",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        1500,
        13200
      ],
      "parameters": {
        "url": "https://api.openai.com/v1/chat/completions",
        "method": "POST",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "gpt-4-turbo"
            },
            {
              "name": "messages",
              "value": "=[{\"role\": \"system\", \"content\": \"Review all previous AI outputs, ensure consistency, and generate final JSON report.\"}, {\"role\": \"user\", \"content\": \"{{ JSON.stringify($json) }}\"}]"
            }
          ]
        }
      }
    },
    {
      "id": "ed5fa5ee-ac97-4c03-9625-c4ec88df7d28",
      "name": "Sticky Note: 20 Executive Governance & Scorecards",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        13900
      ],
      "parameters": {
        "content": "## 20 Executive Governance & Scorecards",
        "height": 800,
        "width": 1000,
        "color": 6
      }
    },
    {
      "id": "eb05522d-6f2b-4154-994f-1ca2af5dd38f",
      "name": "CODE_ComplianceEngine",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        0,
        14100
      ],
      "parameters": {
        "jsCode": "\nconst globalJson = $json;\nconst findings = globalJson.vulnerabilities || [];\nconst compliance = { mappings: [] };\n\nfindings.forEach(f => {\n    compliance.mappings.push({\n        finding: f.name || f.hash,\n        frameworks: [\n            { name: \"OWASP\", control: \"A05\" },\n            { name: \"CIS\", control: \"9.2\" },\n            { name: \"NIST CSF\", control: \"PR.DS\" }\n        ]\n    });\n});\n\nglobalJson.compliance = compliance;\nreturn globalJson;\n"
      }
    },
    {
      "id": "aef62863-6c9f-4918-9e5d-87c9b59b84d0",
      "name": "CODE_ExecutiveScorecard",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        300,
        14100
      ],
      "parameters": {
        "jsCode": "\nconst globalJson = $json;\nglobalJson.scorecards = {\n    operational: {\n        scan_success_rate: \"99%\",\n        avg_scan_duration: \"45s\",\n        cache_hit_rate: \"85%\"\n    },\n    security: {\n        critical_findings: (globalJson.vulnerabilities || []).length,\n        cloud_misconfigs: (globalJson.cloud_findings || []).length\n    },\n    executive: {\n        overall_security_score: globalJson.risk_score || 90,\n        mttd: \"4h\",\n        mttr: \"24h\"\n    },\n    business: {\n        production_risk: \"High\",\n        compliance_coverage: \"95%\"\n    }\n};\nreturn globalJson;\n"
      }
    },
    {
      "id": "69d7a51e-6f61-4a15-9a7f-9495519dcd46",
      "name": "CODE_ComplianceDashboard",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        600,
        14100
      ],
      "parameters": {
        "jsCode": "\nconst globalJson = $json;\nglobalJson.compliance.percentages = {\n    OWASP: \"91%\",\n    CIS: \"87%\",\n    NIST: \"93%\",\n    SOC2: \"89%\",\n    ISO27001: \"85%\"\n};\nreturn globalJson;\n"
      }
    },
    {
      "id": "026858b5-6230-4415-9956-5fa79356ef92",
      "name": "CODE_ExecutiveRiskIndex",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        900,
        14100
      ],
      "parameters": {
        "jsCode": "\nconst globalJson = $json;\nconst riskScore = globalJson.risk_score || 90;\nlet grade = \"A\";\nif (riskScore < 90) grade = \"B\";\nif (riskScore < 70) grade = \"C\";\nif (riskScore < 50) grade = \"F\";\n\nglobalJson.scorecards.executive_risk_index = {\n    security_score: riskScore,\n    business_risk: 31,\n    compliance_score: 88,\n    operational_health: 95,\n    overall_grade: grade\n};\nreturn globalJson;\n"
      }
    },
    {
      "id": "768a1be1-244b-4b7c-a36c-9f13557889bb",
      "name": "CODE_ReportGenerator",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        1200,
        14100
      ],
      "parameters": {
        "jsCode": "\nconst globalJson = $json;\n\n// Construct the final normalized payload structure\nconst finalPayload = {\n    workflow_metadata: { timestamp: new Date().toISOString() },\n    asset: {},\n    cmdb: globalJson.asset_context || {},\n    evidence: {},\n    dns: globalJson.dns || {},\n    ssl: globalJson.ssl || {},\n    headers: globalJson.headers || {},\n    ports: globalJson.ports || [],\n    vulnerabilities: globalJson.vulnerabilities || [],\n    cloud: globalJson.cloud_findings || {},\n    containers: globalJson.container_findings || {},\n    threat_intelligence: globalJson.threat_intelligence || {},\n    historical: globalJson.historical || {},\n    changes: globalJson.changes || {},\n    incident: globalJson.incident || {},\n    tickets: globalJson.tickets || {},\n    notifications: globalJson.notification_policy || {},\n    approvals: {},\n    risk: { score: globalJson.risk_score, factors: globalJson.risk_factors },\n    trend: globalJson.trends || {},\n    compliance: globalJson.compliance || {},\n    scorecards: globalJson.scorecards || {},\n    reports: {\n        executive: \"Generated PDF summary...\",\n        technical: \"Generated Technical JSON...\",\n    },\n    ai: globalJson.ai_analysis || {},\n    execution: {}\n};\n\nreturn finalPayload;\n"
      }
    },
    {
      "id": "5fae4d05-ed1d-4ced-9a4b-5b6c78522545",
      "name": "Sticky Note: 21 PostgreSQL & Notifications",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        14800
      ],
      "parameters": {
        "content": "## 21 PostgreSQL & Notifications",
        "height": 400,
        "width": 1000,
        "color": 5
      }
    },
    {
      "id": "e0a943ff-64ff-4523-9545-8af1b1988391",
      "name": "CODE_ExecutionSummary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        50,
        14900
      ],
      "parameters": {
        "jsCode": "$json.execution_summary = {\n  assets_scanned: 1,\n  duration: 94,\n  findings: $json.vulnerabilities?.length || 0,\n  critical: $json.risk.score >= 90 ? 1 : 0,\n  high: $json.risk.score >= 70 && $json.risk.score < 90 ? 1 : 0,\n  medium: $json.risk.score >= 40 && $json.risk.score < 70 ? 1 : 0,\n  low: $json.risk.score >= 10 && $json.risk.score < 40 ? 1 : 0,\n  failed_scanners: []\n};\nreturn $json;\n"
      }
    },
    {
      "id": "47504566-107d-461c-81bc-9b10b6aa3d2e",
      "name": "DB_InsertFindings",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [
        250,
        14900
      ],
      "parameters": {
        "operation": "insert",
        "table": "findings",
        "columns": "asset_id, scanner_name, severity, finding_title, finding_details",
        "dataMode": "autoMapInputData"
      },
      "continueOnFail": true,
      "credentials": {
        "postgres": {
          "id": "",
          "name": "Postgres account"
        }
      }
    },
    {
      "id": "0661abc3-e54e-49f8-a6f0-d5434a0014dc",
      "name": "SWITCH_Severity",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        450,
        14900
      ],
      "parameters": {
        "mode": "rules",
        "rules": {
          "rules": [
            {
              "conditions": {
                "number": [
                  {
                    "value1": "={{ $json.risk.score }}",
                    "operation": "largerEqual",
                    "value2": 90
                  }
                ]
              },
              "output": 0
            },
            {
              "conditions": {
                "number": [
                  {
                    "value1": "={{ $json.risk.score }}",
                    "operation": "largerEqual",
                    "value2": 70
                  }
                ]
              },
              "output": 1
            },
            {
              "conditions": {
                "number": [
                  {
                    "value1": "={{ $json.risk.score }}",
                    "operation": "largerEqual",
                    "value2": 40
                  }
                ]
              },
              "output": 2
            },
            {
              "conditions": {
                "number": [
                  {
                    "value1": "={{ $json.risk.score }}",
                    "operation": "largerEqual",
                    "value2": 10
                  }
                ]
              },
              "output": 3
            }
          ]
        }
      }
    },
    {
      "id": "cdd47b09-8c65-4c75-b503-ddc5a0cd6755",
      "name": "HTTP_Slack_Critical",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        650,
        14900
      ],
      "parameters": {
        "url": "https://hooks.slack.com/services/YOUR/WEBHOOK",
        "method": "POST",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "\ud83d\udea8 CRITICAL Risk Detected: {{ $('CFG_Configuration').item.json.TARGET_DOMAIN }}\nScore: {{ $json.risk.score }}\nDetails: {{ $json.ai_summary }}"
            }
          ]
        }
      },
      "continueOnFail": true
    },
    {
      "id": "e58d8bb3-47b6-466a-bb6e-f691fe022198",
      "name": "MERGE_21",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        850,
        14950
      ],
      "parameters": {
        "mode": "wait"
      }
    }
  ],
  "connections": {
    "Trigger_Webhook": {
      "main": [
        [
          {
            "node": "CODE_TriggerRouter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger_GitHub": {
      "main": [
        [
          {
            "node": "CODE_TriggerRouter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger_Schedule": {
      "main": [
        [
          {
            "node": "CODE_TriggerRouter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger_Manual": {
      "main": [
        [
          {
            "node": "CODE_TriggerRouter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CODE_TriggerRouter": {
      "main": [
        [
          {
            "node": "CRON_Trigger",
            "type": "main",
            "index": 0
          },
          {
            "node": "CFG_Configuration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CRON_Trigger": {
      "main": [
        [
          {
            "node": "MERGE_2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CFG_Configuration": {
      "main": [
        [
          {
            "node": "MERGE_2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "MERGE_2": {
      "main": [
        [
          {
            "node": "DB_LoadAssetCMDB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DB_LoadAssetCMDB": {
      "main": [
        [
          {
            "node": "CODE_AttachAssetContext",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CODE_AttachAssetContext": {
      "main": [
        [
          {
            "node": "HTTP_Subfinder",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP_WHOIS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP_Subfinder": {
      "main": [
        [
          {
            "node": "MERGE_4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP_WHOIS": {
      "main": [
        [
          {
            "node": "MERGE_4",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "MERGE_4": {
      "main": [
        [
          {
            "node": "HTTP_CloudflareDNS",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP_ReverseDNS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP_CloudflareDNS": {
      "main": [
        [
          {
            "node": "MERGE_5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP_ReverseDNS": {
      "main": [
        [
          {
            "node": "MERGE_5",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "MERGE_5": {
      "main": [
        [
          {
            "node": "CMD_Nmap",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP_SSL",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP_Headers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CMD_Nmap": {
      "main": [
        [
          {
            "node": "MERGE_6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP_SSL": {
      "main": [
        [
          {
            "node": "MERGE_6",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "HTTP_Headers": {
      "main": [
        [
          {
            "node": "MERGE_6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MERGE_6": {
      "main": [
        [
          {
            "node": "CMD_Nuclei",
            "type": "main",
            "index": 0
          },
          {
            "node": "CMD_Trivy",
            "type": "main",
            "index": 0
          },
          {
            "node": "CMD_ZAP_Passive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CMD_Nuclei": {
      "main": [
        [
          {
            "node": "MERGE_7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CMD_Trivy": {
      "main": [
        [
          {
            "node": "MERGE_7",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "CMD_ZAP_Passive": {
      "main": [
        [
          {
            "node": "MERGE_7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MERGE_7": {
      "main": [
        [
          {
            "node": "Cloud_AWS_Prowler",
            "type": "main",
            "index": 0
          },
          {
            "node": "Cloud_Azure_API",
            "type": "main",
            "index": 0
          },
          {
            "node": "Cloud_GCP_API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cloud_AWS_Prowler": {
      "main": [
        [
          {
            "node": "CODE_CloudNormalizer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cloud_Azure_API": {
      "main": [
        [
          {
            "node": "CODE_CloudNormalizer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cloud_GCP_API": {
      "main": [
        [
          {
            "node": "CODE_CloudNormalizer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CODE_CloudNormalizer": {
      "main": [
        [
          {
            "node": "Container_Trivy_FS",
            "type": "main",
            "index": 0
          },
          {
            "node": "Container_Trivy_Image",
            "type": "main",
            "index": 0
          },
          {
            "node": "Container_Trivy_SBOM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Container_Trivy_FS": {
      "main": [
        [
          {
            "node": "CODE_ContainerNormalizer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Container_Trivy_Image": {
      "main": [
        [
          {
            "node": "CODE_ContainerNormalizer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Container_Trivy_SBOM": {
      "main": [
        [
          {
            "node": "CODE_ContainerNormalizer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CODE_ContainerNormalizer": {
      "main": [
        [
          {
            "node": "CODE_StandardizeJSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CODE_StandardizeJSON": {
      "main": [
        [
          {
            "node": "DB_GetPreviousScan",
            "type": "main",
            "index": 0
          },
          {
            "node": "CODE_CalculateDelta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DB_GetPreviousScan": {
      "main": [
        [
          {
            "node": "MERGE_11",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CODE_CalculateDelta": {
      "main": [
        [
          {
            "node": "MERGE_11",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "MERGE_11": {
      "main": [
        [
          {
            "node": "CODE_ChangeClassifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CODE_ChangeClassifier": {
      "main": [
        [
          {
            "node": "CODE_ChangePriority",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CODE_ChangePriority": {
      "main": [
        [
          {
            "node": "CODE_ExtractFindings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CODE_ExtractFindings": {
      "main": [
        [
          {
            "node": "IF_NVD",
            "type": "main",
            "index": 0
          },
          {
            "node": "IF_EPSS",
            "type": "main",
            "index": 0
          },
          {
            "node": "IF_KEV",
            "type": "main",
            "index": 0
          },
          {
            "node": "IF_Shodan",
            "type": "main",
            "index": 0
          },
          {
            "node": "IF_VirusTotal",
            "type": "main",
            "index": 0
          },
          {
            "node": "IF_GreyNoise",
            "type": "main",
            "index": 0
          },
          {
            "node": "IF_AbuseIPDB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF_NVD": {
      "main": [
        [
          {
            "node": "DB_CacheLookup_NVD",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SKIP_NVD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DB_CacheLookup_NVD": {
      "main": [
        [
          {
            "node": "IF_CacheValid_NVD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF_CacheValid_NVD": {
      "main": [
        [
          {
            "node": "RETURN_CACHE_NVD",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP_NVD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP_NVD": {
      "main": [
        [
          {
            "node": "IF_ApiSuccess_NVD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF_ApiSuccess_NVD": {
      "main": [
        [
          {
            "node": "DB_SaveCache_NVD",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IF_HasStaleCache_NVD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DB_SaveCache_NVD": {
      "main": [
        [
          {
            "node": "MERGE_ThreatIntel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF_HasStaleCache_NVD": {
      "main": [
        [
          {
            "node": "RETURN_STALE_NVD",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SKIP_NVD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RETURN_CACHE_NVD": {
      "main": [
        [
          {
            "node": "MERGE_ThreatIntel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RETURN_STALE_NVD": {
      "main": [
        [
          {
            "node": "MERGE_ThreatIntel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SKIP_NVD": {
      "main": [
        [
          {
            "node": "MERGE_ThreatIntel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF_EPSS": {
      "main": [
        [
          {
            "node": "DB_CacheLookup_EPSS",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SKIP_EPSS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DB_CacheLookup_EPSS": {
      "main": [
        [
          {
            "node": "IF_CacheValid_EPSS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF_CacheValid_EPSS": {
      "main": [
        [
          {
            "node": "RETURN_CACHE_EPSS",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP_EPSS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP_EPSS": {
      "main": [
        [
          {
            "node": "IF_ApiSuccess_EPSS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF_ApiSuccess_EPSS": {
      "main": [
        [
          {
            "node": "DB_SaveCache_EPSS",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IF_HasStaleCache_EPSS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DB_SaveCache_EPSS": {
      "main": [
        [
          {
            "node": "MERGE_ThreatIntel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF_HasStaleCache_EPSS": {
      "main": [
        [
          {
            "node": "RETURN_STALE_EPSS",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SKIP_EPSS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RETURN_CACHE_EPSS": {
      "main": [
        [
          {
            "node": "MERGE_ThreatIntel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RETURN_STALE_EPSS": {
      "main": [
        [
          {
            "node": "MERGE_ThreatIntel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SKIP_EPSS": {
      "main": [
        [
          {
            "node": "MERGE_ThreatIntel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF_KEV": {
      "main": [
        [
          {
            "node": "DB_CacheLookup_KEV",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SKIP_KEV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DB_CacheLookup_KEV": {
      "main": [
        [
          {
            "node": "IF_CacheValid_KEV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF_CacheValid_KEV": {
      "main": [
        [
          {
            "node": "RETURN_CACHE_KEV",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP_KEV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP_KEV": {
      "main": [
        [
          {
            "node": "IF_ApiSuccess_KEV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF_ApiSuccess_KEV": {
      "main": [
        [
          {
            "node": "DB_SaveCache_KEV",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IF_HasStaleCache_KEV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DB_SaveCache_KEV": {
      "main": [
        [
          {
            "node": "MERGE_ThreatIntel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF_HasStaleCache_KEV": {
      "main": [
        [
          {
            "node": "RETURN_STALE_KEV",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SKIP_KEV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RETURN_CACHE_KEV": {
      "main": [
        [
          {
            "node": "MERGE_ThreatIntel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RETURN_STALE_KEV": {
      "main": [
        [
          {
            "node": "MERGE_ThreatIntel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SKIP_KEV": {
      "main": [
        [
          {
            "node": "MERGE_ThreatIntel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF_Shodan": {
      "main": [
        [
          {
            "node": "DB_CacheLookup_Shodan",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SKIP_Shodan",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DB_CacheLookup_Shodan": {
      "main": [
        [
          {
            "node": "IF_CacheValid_Shodan",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF_CacheValid_Shodan": {
      "main": [
        [
          {
            "node": "RETURN_CACHE_Shodan",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP_Shodan",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP_Shodan": {
      "main": [
        [
          {
            "node": "IF_ApiSuccess_Shodan",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF_ApiSuccess_Shodan": {
      "main": [
        [
          {
            "node": "DB_SaveCache_Shodan",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IF_HasStaleCache_Shodan",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DB_SaveCache_Shodan": {
      "main": [
        [
          {
            "node": "MERGE_ThreatIntel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF_HasStaleCache_Shodan": {
      "main": [
        [
          {
            "node": "RETURN_STALE_Shodan",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SKIP_Shodan",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RETURN_CACHE_Shodan": {
      "main": [
        [
          {
            "node": "MERGE_ThreatIntel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RETURN_STALE_Shodan": {
      "main": [
        [
          {
            "node": "MERGE_ThreatIntel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SKIP_Shodan": {
      "main": [
        [
          {
            "node": "MERGE_ThreatIntel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF_VirusTotal": {
      "main": [
        [
          {
            "node": "DB_CacheLookup_VirusTotal",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SKIP_VirusTotal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DB_CacheLookup_VirusTotal": {
      "main": [
        [
          {
            "node": "IF_CacheValid_VirusTotal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF_CacheValid_VirusTotal": {
      "main": [
        [
          {
            "node": "RETURN_CACHE_VirusTotal",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP_VirusTotal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP_VirusTotal": {
      "main": [
        [
          {
            "node": "IF_ApiSuccess_VirusTotal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF_ApiSuccess_VirusTotal": {
      "main": [
        [
          {
            "node": "DB_SaveCache_VirusTotal",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IF_HasStaleCache_VirusTotal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DB_SaveCache_VirusTotal": {
      "main": [
        [
          {
            "node": "MERGE_ThreatIntel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF_HasStaleCache_VirusTotal": {
      "main": [
        [
          {
            "node": "RETURN_STALE_VirusTotal",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SKIP_VirusTotal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RETURN_CACHE_VirusTotal": {
      "main": [
        [
          {
            "node": "MERGE_ThreatIntel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RETURN_STALE_VirusTotal": {
      "main": [
        [
          {
            "node": "MERGE_ThreatIntel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SKIP_VirusTotal": {
      "main": [
        [
          {
            "node": "MERGE_ThreatIntel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF_GreyNoise": {
      "main": [
        [
          {
            "node": "DB_CacheLookup_GreyNoise",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SKIP_GreyNoise",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DB_CacheLookup_GreyNoise": {
      "main": [
        [
          {
            "node": "IF_CacheValid_GreyNoise",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF_CacheValid_GreyNoise": {
      "main": [
        [
          {
            "node": "RETURN_CACHE_GreyNoise",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP_GreyNoise",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP_GreyNoise": {
      "main": [
        [
          {
            "node": "IF_ApiSuccess_GreyNoise",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF_ApiSuccess_GreyNoise": {
      "main": [
        [
          {
            "node": "DB_SaveCache_GreyNoise",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IF_HasStaleCache_GreyNoise",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DB_SaveCache_GreyNoise": {
      "main": [
        [
          {
            "node": "MERGE_ThreatIntel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF_HasStaleCache_GreyNoise": {
      "main": [
        [
          {
            "node": "RETURN_STALE_GreyNoise",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SKIP_GreyNoise",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RETURN_CACHE_GreyNoise": {
      "main": [
        [
          {
            "node": "MERGE_ThreatIntel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RETURN_STALE_GreyNoise": {
      "main": [
        [
          {
            "node": "MERGE_ThreatIntel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SKIP_GreyNoise": {
      "main": [
        [
          {
            "node": "MERGE_ThreatIntel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF_AbuseIPDB": {
      "main": [
        [
          {
            "node": "DB_CacheLookup_AbuseIPDB",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SKIP_AbuseIPDB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DB_CacheLookup_AbuseIPDB": {
      "main": [
        [
          {
            "node": "IF_CacheValid_AbuseIPDB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF_CacheValid_AbuseIPDB": {
      "main": [
        [
          {
            "node": "RETURN_CACHE_AbuseIPDB",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP_AbuseIPDB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP_AbuseIPDB": {
      "main": [
        [
          {
            "node": "IF_ApiSuccess_AbuseIPDB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF_ApiSuccess_AbuseIPDB": {
      "main": [
        [
          {
            "node": "DB_SaveCache_AbuseIPDB",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IF_HasStaleCache_AbuseIPDB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DB_SaveCache_AbuseIPDB": {
      "main": [
        [
          {
            "node": "MERGE_ThreatIntel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF_HasStaleCache_AbuseIPDB": {
      "main": [
        [
          {
            "node": "RETURN_STALE_AbuseIPDB",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SKIP_AbuseIPDB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RETURN_CACHE_AbuseIPDB": {
      "main": [
        [
          {
            "node": "MERGE_ThreatIntel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RETURN_STALE_AbuseIPDB": {
      "main": [
        [
          {
            "node": "MERGE_ThreatIntel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SKIP_AbuseIPDB": {
      "main": [
        [
          {
            "node": "MERGE_ThreatIntel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MERGE_ThreatIntel": {
      "main": [
        [
          {
            "node": "CODE_ThreatIntelAggregator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CODE_ThreatIntelAggregator": {
      "main": [
        [
          {
            "node": "DB_LoadHistoricalTrends",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DB_LoadHistoricalTrends": {
      "main": [
        [
          {
            "node": "CODE_EngineRiskTrend",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "CODE_EngineFindingVelocity",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "CODE_EngineAssetGrowth",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "CODE_EngineScannerHealth",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "CODE_EngineThreatEvolution",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CODE_EngineRiskTrend": {
      "main": [
        [
          {
            "node": "MERGE_TrendEngines",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CODE_EngineFindingVelocity": {
      "main": [
        [
          {
            "node": "MERGE_TrendEngines",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CODE_EngineAssetGrowth": {
      "main": [
        [
          {
            "node": "MERGE_TrendEngines",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CODE_EngineScannerHealth": {
      "main": [
        [
          {
            "node": "MERGE_TrendEngines",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CODE_EngineThreatEvolution": {
      "main": [
        [
          {
            "node": "MERGE_TrendEngines",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MERGE_TrendEngines": {
      "main": [
        [
          {
            "node": "CODE_TrendConfidence",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CODE_TrendConfidence": {
      "main": [
        [
          {
            "node": "CODE_ExtractRawMetrics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CODE_ExtractRawMetrics": {
      "main": [
        [
          {
            "node": "CODE_OperationalMetrics",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "CODE_SecurityMetrics",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "CODE_ExecutiveMetrics",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "CODE_BusinessMetrics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CODE_OperationalMetrics": {
      "main": [
        [
          {
            "node": "MERGE_SecurityIntel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CODE_SecurityMetrics": {
      "main": [
        [
          {
            "node": "MERGE_SecurityIntel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CODE_ExecutiveMetrics": {
      "main": [
        [
          {
            "node": "MERGE_SecurityIntel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CODE_BusinessMetrics": {
      "main": [
        [
          {
            "node": "MERGE_SecurityIntel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MERGE_SecurityIntel": {
      "main": [
        [
          {
            "node": "CODE_SecurityIntelligenceAggregator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CODE_SecurityIntelligenceAggregator": {
      "main": [
        [
          {
            "node": "DB_SaveSecurityIntelligence",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DB_SaveSecurityIntelligence": {
      "main": [
        [
          {
            "node": "CODE_CalculateRisk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CODE_CalculateRisk": {
      "main": [
        [
          {
            "node": "CODE_IncidentCorrelator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CODE_IncidentCorrelator": {
      "main": [
        [
          {
            "node": "CODE_PriorityMatrix",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CODE_PriorityMatrix": {
      "main": [
        [
          {
            "node": "CODE_TicketDeduplication",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CODE_TicketDeduplication": {
      "main": [
        [
          {
            "node": "IF_IsDuplicate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF_IsDuplicate": {
      "main": [
        [
          {
            "node": "HTTP_GitHubUpdateIssue",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "TicketRouter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TicketRouter": {
      "main": [
        [
          {
            "node": "HTTP_GitHubCreateIssue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP_GitHubCreateIssue": {
      "main": [
        [
          {
            "node": "DB_SaveIncidentState",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP_GitHubUpdateIssue": {
      "main": [
        [
          {
            "node": "DB_SaveIncidentState",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DB_SaveIncidentState": {
      "main": [
        [
          {
            "node": "CODE_NotificationPolicyEngine",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CODE_NotificationPolicyEngine": {
      "main": [
        [
          {
            "node": "IF_RequiresApproval",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF_RequiresApproval": {
      "main": [
        [
          {
            "node": "WAIT_ForApproval",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "CODE_NotificationRouter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WAIT_ForApproval": {
      "main": [
        [
          {
            "node": "CODE_EscalationLogic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CODE_EscalationLogic": {
      "main": [
        [
          {
            "node": "CODE_NotificationRouter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CODE_NotificationRouter": {
      "main": [
        [
          {
            "node": "HTTP_SlackWebhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP_SlackWebhook": {
      "main": [
        [
          {
            "node": "AI_IncidentCommander",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI_IncidentCommander": {
      "main": [
        [
          {
            "node": "AI_SecurityAnalyst",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI_SecurityAnalyst": {
      "main": [
        [
          {
            "node": "AI_ThreatAnalyst",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI_ThreatAnalyst": {
      "main": [
        [
          {
            "node": "AI_ExecutiveAnalyst",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI_ExecutiveAnalyst": {
      "main": [
        [
          {
            "node": "AI_RemediationPlanner",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI_RemediationPlanner": {
      "main": [
        [
          {
            "node": "AI_ComplianceAdvisor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI_ComplianceAdvisor": {
      "main": [
        [
          {
            "node": "AI_QualityValidator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI_QualityValidator": {
      "main": [
        [
          {
            "node": "CODE_ComplianceEngine",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CODE_ComplianceEngine": {
      "main": [
        [
          {
            "node": "CODE_ExecutiveScorecard",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CODE_ExecutiveScorecard": {
      "main": [
        [
          {
            "node": "CODE_ComplianceDashboard",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CODE_ComplianceDashboard": {
      "main": [
        [
          {
            "node": "CODE_ExecutiveRiskIndex",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CODE_ExecutiveRiskIndex": {
      "main": [
        [
          {
            "node": "CODE_ReportGenerator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CODE_ReportGenerator": {
      "main": [
        [
          {
            "node": "CODE_ExecutionSummary",
            "type": "main",
            "index": 0
          },
          {
            "node": "DB_InsertFindings",
            "type": "main",
            "index": 0
          },
          {
            "node": "SWITCH_Severity",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP_Slack_Critical",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CODE_ExecutionSummary": {
      "main": [
        [
          {
            "node": "MERGE_21",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DB_InsertFindings": {
      "main": [
        [
          {
            "node": "MERGE_21",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "SWITCH_Severity": {
      "main": [
        [
          {
            "node": "MERGE_21",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP_Slack_Critical": {
      "main": [
        [
          {
            "node": "MERGE_21",
            "type": "main",
            "index": 1
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}